* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: rgb(117, 116, 116);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
