/* Basic Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: rgb(94, 94, 94);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* Reuseble Components */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
h2:after {
    display: block;
    content: ' ';
    width: 100px;
    height: 2px;
    margin: 30px auto 0;
    background-color: #e67e22;
}

/* Paragraphs  */
.long-copy {
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
}
.box p {
    font-size: 90%;
    line-height: 140%
}

/* Icons  */

.icon-big {
    font-size: 300%;
    color: #e67e22;
    display: block;
    margin: 10px 0;
    margin-left: 30%;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 300px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 5px;
}

/* Links  */
a {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    transition: 0.4s;
}
a:hover {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* Buttons  */

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #e67e22;
    border-radius: 100px;
    transition: background-color 0.6s, color 0.6s;
}
.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}
.btn:hover,
.btn:active {
    background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* Header Section  */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.nav-container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
}
.main-nav {
    display: flex;
    list-style: none;
    margin-top: 55px;
}
.main-nav li {
    margin-right: 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* Features Section  */

.section-features .long-copy {
    margin-bottom: 50px;
}

/* Meals Section  */
.section-meals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
.meals-showcase {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.meals-showcase li {
    width: 25%;
    height: auto;
    overflow: hidden;
    background-color: #000;
}
.meals-showcase li img {
    width: 100%;
    opacity: 0.7;
    height: auto;
    transform: scale(1.03);
    transition: 0.5s;
}
.meals-showcase li img:hover {
    transform: scale(1.2);
    opacity: 1;
}

/* How it works section  */
.section-steps {
    background-color: rgb(224, 224, 224);
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%
}
.work-step {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
}
.work-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}
.work-step:last-of-type {
    margin-bottom: 70px;
}
.btn-app {
    border: 0;
}
.btn-app:hover {
    border: 0;
}
.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

/* Cities Section  */

.box img {
    width: 100%;
    margin-bottom: 15px;
}
.city-feature {
    margin-bottom: 5px;
}
